@font-face {
  font-family: 'ScribbleFont';
  src: url('assets/fonts/Sketch\ Fine\ Serif.otf')
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'ScribbleFont', sans-serif;
}

.background {
  background-image: url("assets/images/scribble-bkgrnd.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


@keyframes background-anim {
  0%{
    filter: blur(10);
    filter: invert();
    filter: opacity(50%);
  }
  
}

.content {
  text-align: center;
  color: black; 
  background-color: white;
  border-radius: 1vw;
  border-style: groove;
  border-width: 10px;
  border-color: #5c4630;
}

.title {
    font-size: 5vw;
    line-height: 1.2;
    text-shadow: 1px 1px 2px #502a09e0;
    color: rgba(50, 28, 2, 0.877);
    margin-bottom: 2rem;
}

.textbox{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 80vh;
}

.header{
  margin-bottom: 5vh;
}

.header a{
  margin-top: 3vh;
  color: red;
  font-size: 3vh;
  text-decoration: none;
}

.header a:hover{
  animation: submit-anim 2s infinite;
  border: solid black;
  padding: 2vh;
  border-radius: 1vh;

}

@keyframes submit-anim {
      0%   { color: red; font-size: 10vh;}
      14%  { color: orange; font-size: 10vh;}
      28%  { color: yellow; font-size: 10vh;}
      42%  { color: green; font-size: 10vh;}
      57%  { color: blue; font-size: 10vh;}
      71%  { color: indigo; font-size: 10vh;}
      85%  { color: violet; font-size: 10vh;}
      100% { color: red; font-size: 10vh;}
  
}

.textbox p{
    font-family: 'Courier New', Courier, monospaces;
    width: 80%;
    max-width: 50vw;
    max-height: 25vh;
    margin: auto;
    background-color: rgba(189, 123, 65, 0.696); 
    border: 2px solid #5c4630;
    border-radius: 6px;
    padding: 2vw;
    font-size: 1vw;
    border-radius: 0.5vw;


}

.textbox img{
  width: 50%;
  height: auto;
  transform: rotate(90deg);
}

.textbox img:hover{
  filter:saturate(10)
}

.go-button{
  font-family: inherit;
  padding: 0.5rem 1.5rem;
  margin: 2vw;
  font-size: 1vw;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #5c4630;
  border-radius: 0.5vw;
  cursor: pointer;
  color: rgb(92, 70, 48);
  transition: background 0.3s ease;
  height: 10vh;
  width: 10vw;
  animation: go-button-anim 2s infinite;
}

.go-button:hover {
  background-color: rgba(255, 255, 255);
}

@keyframes go-button-anim {
  0%{
    background-color: rgba(197, 105, 65, 0.2);
  }
  70%{
    background-color: rgba(197, 105, 65, 0.7);
  }
  100%{
    background-color: rgba(197, 105, 65, 0.2);
  }

  
}


/*@font-face {
    font-family: scribble-1;
    src: url(assets/fonts/Crosshatcher\ D.otf)
}

@font-face {
    font-family: scribble-2;
    src: url(assets/fonts/Looks\ Sketchy.ttf)
}

@font-face {
    font-family: scribble-3;
    src: url(assets/fonts/RubikMarkerHatch-Regular.ttf)
}

@font-face {
    font-family: scribble-4;
    src: url(assets/fonts/ScribbleHummble.otf)
}

@font-face {
    font-family: scribble-5;
    src: url(assets/fonts/Sketch\ Coursive.ttf)
}

@font-face {
    font-family: scribble-6;
    src: url(assets/fonts/Sketch\ Fine\ Serif.otf)
}

@font-face {
    font-family: scribble-7;
    src: url(assets/fonts/Sketch\ Written\ -\ demo.ttf)
}

@font-face {
    font-family: scribble-8;
    src: url(assets/fonts/Sketchzone.ttf)
}

@font-face {
    font-family: scribble-9;
    src: url(assets/fonts/Pijamas-ejPO.ttf);
}
*/