body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

@font-face {
  font-family: scribble;
  src: url(assets/fonts/Sketch\ Fine\ Serif.otf)
}

.container {
  background-image: url('wood-background.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
}

.back{
  font-family: inherit;
  padding: 0.5rem 1.5rem;
  font-size: 5rem;
  background-color: rgb(70, 44, 18);
  border: 2px solid #9f672f;
  border-radius: 0.5vw;
  cursor: pointer;
  color: #9f672f;
  transition: background 0.3s ease;
  height: 5vh;
  width: 5vw;
  
}

.back:hover{
  background-color: rgba(255, 255, 255, 0.4);

}


.note-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1000px;
  margin-bottom: 2rem;
  transform: rotate(-25deg) translateX(3vw) translateY(6vh);
}

.note {
  width: 100%;
  display: block;
}

.vol-1 {
  position: absolute;
  top: 15%;
  left: 20%;
  width: 70%;
  transform: rotate(-2deg);
  font-family: scribble;

  font-size: 250px;
}

.vol-1 span{
  position: absolute;
  top: 100%;
  left: 18%;
  width: 70%;
  transform: rotate(-2deg);
  font-family: scribble;

  font-size: 100px
}

.vol-1:hover, .date:hover{
  color: red;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.img-item {
  width: 120px;
  height: auto;
  cursor: pointer;
  position: absolute;
}

.swamp {
  width: 30vw;
  height: auto;
  transform: rotate(-7deg) translate(60vw, -35vh);
}

.postcard {
  width: 30vw;
  height: auto;
  transform: rotate(-28.62deg) translate(40vw, -15vh);
}

.banana {
  width: 30vw;
  height: auto;
  transform: rotate(0deg) translate(45vw, -30vh);
}

.paper {
  width: 50vw;
  height: auto;
  transform: rotate(0deg) translate(-10vw, 30vh);
}

.garden {
  width: 35vw;
  height: auto;
  transform: rotate(-4deg) translate(68vw, 0vh);
}

.dog {
  width: 35vw;
  height: auto;
  transform: rotate(0deg) translate(40vw, 10vh);
}

.bubbles {
  width: 35vw;
  height: auto;
  transform: rotate(0deg) translate(10vw, -40vh);

  animation: float 10s infinite;
}

.chocolate {
  width: 40vw;
  height: auto;
  transform: rotate(0deg) translate(5vw, 20vh);
}

.ball {
  width: 20vw;
  height: auto;
  transform: rotate(42.03deg) translate(50vw, -70vh);
}

.treats {
  width: 30vw;
  height: auto;
  transform: rotate(90deg) translate(15vw, -100vh);
}


.img-item:hover {
  filter: saturate(10);
}

.scuff {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 100px;
  opacity: 0.8;
}

@keyframes float {
  0%{
      transform: rotate(0deg) translate(10vw, -40vh);
  }

  50%{
      transform: rotate(0deg) translate(15vw, -45vh);

  }
  100%{
      transform: rotate(0deg) translate(10vw, -40vh);
  }
  
}
