body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
}

@font-face {
  font-family: scribble;
  src: url(assets/fonts/Sketch\ Fine\ Serif.otf)
}

.container {
  background-image: url('assets/images/wood-background.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
}

.back{
  position: relative;
  z-index: 50;
  align-self: center;
  font-family: inherit;
  font-size: 1vw;
  background-color: rgb(70, 44, 18, 0);
  border: 2px solid #9f672f;
  border-radius: 0.5vw;
  cursor: pointer;
  color: #9f672f;
  height: 5vh;
  width: 5vw;
}

.back:hover{
  background-color: rgba(255, 255, 255, 0.5);

}


.note-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 60vw;
  height: 20vh;
  margin-bottom: 2rem;
  transform: rotate(0deg) translateX(3vw) translateY(6vh);
  margin: 5vw;
}

.note {
  width: 0;
  display: block;
}

.vol-1 {
  position: absolute;
  top: 100%;
  left: 10%;
  width: 100%;
  transform: rotate(0deg) translateX(-13vw) translateY(-12vh);
  font-family: scribble;
  color: rgba(237, 170, 94, 0.5);
  text-decoration: none;

  font-size: 15vw;
}

.vol-1 span{
  position: absolute;
  top: 90%;
  left: 10%;
  width: 70%;
  transform: rotate(-2deg);
  font-family: scribble;


  font-size: 2vw;
}

.vol-1:hover, .date:hover{
  color: rgba(74, 41, 4, 0.5);
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.img-item {
  width: 120px;
  height: auto;
  cursor: pointer;
  position: absolute;
}

.swamp {
  width: 30vw;
  height: auto;
  transform: rotate(-7deg) translate(60vw, -40vh);
}

.postcard {
  width: 30vw;
  height: auto;
  transform: rotate(-28.62deg) translate(40vw, -30vh);
}

.banana {
  width: 30vw;
  height: auto;
  transform: rotate(0deg) translate(45vw, -30vh);
}

.banana:hover{
  animation: banana-spin 2s infinite;
  animation-delay: -1s;
}

@keyframes banana-spin {

  0%{
    transform: rotate(0deg) translate(45vw, -30vh);
  }
  50%{
    transform: rotate(3deg) translate(45vw, -30vh);
  }
  100%{
    transform:rotate(0deg) translate(45vw, -30vh);
  }

  
}

.paper {
  width: 60vw;
  height: auto;
  transform: rotate(0deg) translate(-10vw, 30vh);
}

.garden {
  width: 35vw;
  height: auto;
  transform: rotate(-4deg) translate(68vw, -10vh);
}

.dog {
  width: 35vw;
  height: auto;
  transform: rotate(0deg) translate(40vw, 0vh);
}

.bubbles {
  width: 35vw;
  height: auto;
  transform: rotate(0deg) translate(10vw, -50vh);
  z-index: 20;

  animation: float 10s infinite;
}

.chocolate {
  width: 40vw;
  height: auto;
  transform: rotate(0deg) translate(10vw, 10vh);
}

.chocolate:hover{
    animation: chocolate-anim 3s infinite;

}

@keyframes chocolate-anim {
  0%{
      transform: rotate(0deg) translate(10vw, 10vh);
  }
  50%{
      transform: rotate(0deg) translate(10vw, -30vh);
      width: 42vw;
  }
  100%{
      transform: rotate(0deg) translate(10vw, 10vh);
  }
  
  
}

.ball {
  width: 20vw;
  height: auto;
  transform: rotate(42.03deg) translate(70vw, -80vh);
}


.treats {
  width: 30vw;
  height: auto;
  transform: rotate(90deg) translate(10vw, -90vh);
}

.treats:hover{
    width: 40vw;
    transform: rotate(90deg) translate(0vw, -90vh);


}

.img-item:hover {
  filter: saturate(10);
}

.scuffs {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  
}

.scuff-1 {
  width: 25vw;
  height: auto;
  transform: translate(0vw, -50vh); 
  opacity: 50%;
  
}

.res-link{
  font-size: 3vw;
  align-self: first baseline;
  position: relative;
  transform: translate(0vw, 10vh);
  z-index:  60;
  text-decoration: none;
  color: rgba(73, 67, 67, 0.806);
  font-family: scribble;
}

.res-link:hover{
  color:#9f672f;

}


@keyframes float {
  0%{
      transform: rotate(0deg) translate(10vw, -50vh);
  }

  50%{
      transform: rotate(0deg) translate(15vw, -55vh);

  }
  100%{
      transform: rotate(0deg) translate(10vw, -50vh);
  }
  
}

